*{
    padding: 0;
    margin: 0;
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
}
.header{
	width:100%;
	height:80px;
	background-color:white;
}
.header a{
	position:relative;
	left:1400px;
	color:#FF9501;
	
}
.header a:hover{
	color:#FF3300;
}
.header h1{
	position:relative;
	top:10px;
	left:200px;
	font-weight:600;
	color:#FF9501;
}

body{
	
	background-image:url(./images/body.jpg) ;
	background-repeat:repeat-y;
	background-size:100%px ;
	whith:100px;
	height:900px;
}
h1{
font-weight:200;
}
.loginview{
   width:420px;
   height:320px;
   background-color:#EEECF8;
   border:1px solid black;
   border-radius:10px;
   position:relative;
   top:160px;
   left:880px;
}
h2{
	font-weight:400;
}
.name{
   position:relative;
   top:60px;
}
.password{
   position:relative;
   top:60px;
   left:5px;
   letter-spacing:2px;
}
.login{
   position:relative;
   top:60px;
   left:35px;
}
.login a{
text-decoration: none;
display: block;
color:#222;
 width:45px;
height:23px;
 background-color: e1e1e1;
 position:relative;
 left:60px;
 top:-24px;
 border: 1px solid #adadad;
}
 h3{
   position:relative;
   top:50px;
   left:20px;
   
   color:red;
}
.login #submit{
 width:150px;
 height:27px;
 background-color:#FF6600;
 color:white;
}
.login #submit:hover{
 background-color:#FF3300;
 color:black;

 }
.loginErro{
 position:relative;
 top:80px;
 left:30px;
 font-size:14px;
 color:red;
 }
 .back a{
 text-decoration: none;
 position:absolute;
 right:20px;
 bottom:20px;
 color:#6C6C6C;

}
  .back a:hover{
    color:#FF9501;
  }
  .bottom{
  width:100%;
  height:302px;
   background-image:url(images/bottom.png);
  position:absolute;
  top:980px;
  }