*{
    padding: 0;
    margin: 0;
}
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.header{
	width:100%;
	height:70px;
	background-color:#F5F5F5;
}
.header h1{
	position:relative;
	top:10px;
	left:200px;
	font-weight:600;
	color:#FF9501;
}
.header a{
	position:relative;
	left:1200px;
	margin-right:150px;
	bottom:5px;
	color:#6c6c6c;
}
.header #back{
	color:#6c6c6c;
}
.header #login:hover{
	color:#FF4400;
}
.header #back:hover{
	color:#FF4400;
}
body{
	background-color:white;
}
body h2{
	position:absolute;
	left:350px;
	top:100px;
	font-weight:400;
	color:#5c5c5c;
}
.registerMess{
	position:relative;
	top:10px;
	left:700px;
	color:red;
	
}




.loginview{
   width:420px;
   height:500px;
 
   border:1px solid black;
   border-radius:5px;
   position:relative;
   top:50px;
   left:500px;
}
.name{
   position:relative;
   top:50px;
   left:7px;
}
.name input,.password input,.addr input,.money input,.phone input{
	margin:5px;
	width:200px;
	height:30px;
}
.password{
   position:relative;
   top:50px;
   left:12px;
   letter-spacing:2px;
}
.addr{
   position:relative;
   top:50px;
   left:5px;
   letter-spacing:2px;
}
.phone{
   position:relative;
   top:50px;
   left:5px;
   letter-spacing:2px;
}
.money{
   position:relative;
   top:50px;
   left:-13px;
   letter-spacing:2px;
}
.login{
   position:relative;
   top:50px;
   left:35px;
}
.login a{
text-decoration: none;
display: block;
color:#222;
 width:45px;
height:23px;
 background-color: e1e1e1;
 position:relative;
 left:60px;
 top:-24px;
 border: 1px solid #adadad;
}
 h3{
   position:relative;
   top:50px;
   left:20px;
   
   color:red;
}
.login #submit{
 width:145px;
 height:27px;
 margin:20px;

 background-color:#FF6600;
 color:white;
}
.login #submit:hover{
 background-color:#FF3300;
 color:black;

 }
  .back a{
 text-decoration: none;
 position:absolute;
 right:20px;
 bottom:20px;
color:#6c6c6c;
}
  .back a:hover{
    color:#ff6600;
  }
