<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app>
<servlet>
     <servlet-name>loginServlet</servlet-name>
     <servlet-class>servlet.control.login_servlet</servlet-class>
</servlet>
<servlet-mapping>
     <servlet-name>loginServlet</servlet-name>
     <url-pattern>/loginServlet</url-pattern>
</servlet-mapping>

<servlet>
     <servlet-name>registerServlet</servlet-name>
     <servlet-class>servlet.control.register_servlet</servlet-class>
</servlet>
<servlet-mapping>
     <servlet-name>registerServlet</servlet-name>
     <url-pattern>/registerServlet</url-pattern>
</servlet-mapping>

<servlet>
     <servlet-name>addServlet</servlet-name>
     <servlet-class>servlet.control.add_servlet</servlet-class>
</servlet>
<servlet-mapping>
     <servlet-name>addServlet</servlet-name>
     <url-pattern>/addServlet</url-pattern>
</servlet-mapping>


<servlet>
     <servlet-name>invaServlet</servlet-name>
     <servlet-class>servlet.control.inva_servlet</servlet-class>
</servlet>
<servlet-mapping>
     <servlet-name>invaServlet</servlet-name>
     <url-pattern>/invaServlet</url-pattern>
</servlet-mapping>

<servlet>
     <servlet-name>cartServlet</servlet-name>
     <servlet-class>servlet.control.cart_servlet</servlet-class>
</servlet>
<servlet-mapping>
     <servlet-name>cartServlet</servlet-name>
     <url-pattern>/cartServlet</url-pattern>
</servlet-mapping>
</web-app>